//@import导入初始化css
@import './assets/reset.min.css';

html,
body {
  display: block;
  min-height: 100%;
  background: #fff;
}

#root {
  height: 100%;
  margin: 0 auto;
  min-height: 100%;
  background: #FFF;
}

.adm-spin-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 60px;
}

.adm-toast-main {
  max-width: 240px !important;
  font-size: 28px !important;

  .adm-toast-icon {
    font-size: 40px !important;
  }
}


.adm-button-loading-wrapper {
  .adm-dot-loading{
    position: static;
    transform: none;
    font-size: 30px;
  }
}