html,
body {
  min-height: 100%;
  background: #eee;
}

#root {
  margin: 0 auto;
  height: 100%;
  background: #fff;
}

.box {
  width: 328px;
  height: 164px;
  line-height: 164px;
  text-align: center;
  font-size: 40px;
  background: lightblue;
}
